# Dependencies
node_modules/
frontend/node_modules/

# Next.js
.next/
frontend/.next/
frontend/out/

# Go / Backend binaries & build artifacts
backend/bin/
backend/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Misc & OS files
.DS_Store
*.pem
.env*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts
frontend/next-env.d.ts

# Logs
*.log

# Temporary archives & raw downloads
*.tar.gz
u560700323*
badge_sample.jpg
